@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

/* Basic reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
